#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem;
  text-align: center;
}

.card {
  max-width: 40em;
}

.read-the-docs {
  color: #888;
}
.result {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}

.drag-drop {
  margin: 4em auto;
  padding: 3em;
  border: 3px dashed #c5c5c5;
  border-radius: 0.5em;
  cursor: pointer;

}

.drag-drop:hover {
  background-color: #88888870;

}

.drag-header {
  font-size: 1em;
  font-weight: bold;
  color: #c5c5c5;
}
.drag-text {
  font-size: 0.8em;
  color: #8c8c8c;
}

.sections{
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  text-align: left; 
}

.section{
  padding: 0.5em 2em;
  border-radius: 0.5em;
  background-color: #f5f5f502;
  border: #8c8c8c 3px solid;
  width: 100%;

}

.section-title{
  font-size: 1.5em;
  font-weight: bold;
  color: #c5c5c5;
}

.section-text{
  font-size: 1em;
  color: #8c8c8c;
}

.section-ul{
  font-size: 1em;
  color: #8c8c8c;
  list-style-type: none;
  padding: 0em;
}

li{
  margin-top: 0.5em;
}